*{

}

table td {
    border: solid #f2f2f2;
    /* padding: 5px; */
    text-align: center;
}

h1{
    text-align: center;
    font-size: 10vw;
}

#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 10px;
    /* padding: 10px; */
}

#logo-img{
    height: 100vh;
    width: 100vw;
}
#img{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

body{
    background-color: #020202;
    color: #f2f2f2;
}

#table{
    width: 100%;
    max-width: 600px;
}

/* new.php */
#select{
    background-color: #f8333c;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}


